name: bitwarden

services:
  bitwarden:
    image: vaultwarden/server:latest-alpine
    platform: linux/arm64
    restart: always
    container_name: bitwarden
    ports:
      - "80:80"
    volumes:
      - ./bitwarden:/data
    healthcheck:
      test: ["CMD", "curl", "-f", "http://localhost:80/health"]
      interval: 10s
      timeout: 5s
      retries: 5
      start_period: 10s
    environment:
      DOMAIN: ${DOMAIN}
      IP_HEADER: X-Forwarded-For
      ADMIN_TOKEN: ${ADMIN_TOKEN}
      SIGNUPS_ALLOWED: ${SIGNUPS_ALLOWED}
      # SMTP_HOST: ${SMTP_HOST}
      # SMTP_FROM: ${SMTP_FROM}
      # SMTP_FROM_NAME: Bitwarden (${DOMAIN})
      # SMTP_PORT: ${SMTP_PORT}
      # SMTP_SECURITY: ${SMTP_SECURITY}
      # SMTP_USERNAME: ${SMTP_USERNAME}
      # SMTP_PASSWORD: ${SMTP_PASSWORD}
      PUSH_ENABLED: ${PUSH_ENABLED}
      PUSH_INSTALLATION_ID: ${PUSH_INSTALLATION_ID}
      PUSH_INSTALLATION_KEY: ${PUSH_INSTALLATION_KEY}
      # YUBICO_CLIENT_ID: ${YUBICO_CLIENT_ID}
      # YUBICO_SECRET_KEY: ${YUBICO_SECRET_KEY}
      # YUBICO_SERVER: ${YUBICO_SERVER}
      ORG_CREATION_USERS: ${ORG_CREATION_USERS}
      TZ: ${TZ}

  tunnel:
    image: cloudflare/cloudflared:latest
    container_name: cloudflared
    platform: linux/arm64
    restart: always
    command: |
      tunnel --no-autoupdate run --url http://bitwarden:80 --token ${TUNNEL_TOKEN}
    environment:
      TUNNEL_TOKEN: ${TUNNEL_TOKEN}
      TZ: ${TZ}

watchtower:
    image: containrrr/watchtower:latest
    platform: linux/arm64
    restart: always
    container_name: watchtower
    depends_on:
      bitwarden:
        condition: service_healthy
    volumes:
      - /var/run/apple-container.sock:/var/run/docker.sock 
    environment:
      WATCHTOWER_CLEANUP: "true"
      WATCHTOWER_SCHEDULE: ${WATCHTOWER_SCHEDULE}
      TZ: ${TZ}
